<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632575903511-hba1ddenpkomm4h0lvbppnv6ndbrdruk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632575903511-hba1ddenpkomm4h0lvbppnv6ndbrdruk</string>
	<key>API_KEY</key>
	<string>AIzaSyBDdfjpw8I275d9eLYaY6gXSSEua7lYv6c</string>
	<key>GCM_SENDER_ID</key>
	<string>632575903511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marc.helha</string>
	<key>PROJECT_ID</key>
	<string>helha-cc97e</string>
	<key>STORAGE_BUCKET</key>
	<string>helha-cc97e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632575903511:ios:c6eee3cadcf2a0f4c0d952</string>
</dict>
</plist>